@use './variables' as v;

// styling for cdk-accordion
.cg-accordion {}

.cg-accordion-item {
    display: block;
    padding-bottom: v.$padding-xl;

    &+& {
        padding-top: v.$padding-xl;
    }

    &.expanded {
        .cg-accordion-item-header {

            &:hover,
            &:focus-visible {
                font-size: 1em;
                box-shadow: 0px 0px 4px 4px hsl(271, 30%, 73%);
                transform: translate(1px, 1px);
            }
        }
    }

    &.basic-accordion {
        .cg-accordion-item-body [data-row] {
            font-size: 0.85em;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            .title {
                font-weight: bold;
            }
        }

        .cg-accordion-item__wrapper {
            border: none;
        }
    }

    &__wrapper {
        border: 1px solid hsl(0, 0%, 75%);
        border-radius: 6px;
        overflow: hidden;
    }
}

.cg-accordion-item-header {
    font-size: 0.95em;
    font-weight: bold;
    padding: v.$padding-normal v.$padding-half-xl;
    background-color: var(--color-primary-light);
    cursor: pointer;
    transition: all 0.05s;

    &:focus-visible {
        outline: none;
    }
}

.cg-accordion-item-body {
    [data-row] {
        display: flex;
        font-size: 0.83em;
        padding-top: v.$padding-half * 1.25;
        padding-bottom: v.$padding-half * 1.25;

        &:not(:last-child) {
            border-bottom: 1px solid hsl(0, 0%, 75%);
        }

        .title {
            width: 35%;
            padding: 0 v.$padding-half-xl;
        }

        .content {}
    }
}