
.hide {
    display: none;
}

.capitalise {
    text-transform: capitalize;
}

.cursor {
    &--pointer {
        cursor: pointer;
    }
}

.visibility {
    &--hidden {
        visibility: hidden;
    }
}
