@use './variables' as v;

input,
select {
    min-height: 28px;
    height: 28px;
    padding: 4px 10px;
    border: 1px solid hsla(0, 0%, 40%, 30%);
    border-radius: v.$padding-xs;
    font-family: inherit;

    &:focus-visible {
        outline: none;
        box-shadow: 0px 0px 4px 2px var(--color-primary-light);
    }
}

.form-field {
    font-size: 14px;
    .field-wrapper {
        .field {
            display: flex;
            flex-direction: column;
            width: 100%;

            label {
                padding-bottom: v.$padding-half;
                &.mandatory {
                    &::after {
                        content: '*';
                        font-size: 0.8em;
                        position: relative;
                        top: -3px;
                        left: -1px;
                        color: var(--color-error);
                    }
                }
            }

            // native select box
            &.select {
                select,
                option {
                    &,
                    &:hover {
                        cursor: pointer;
                    }
                }

                select:valid,
                option {
                    text-transform: capitalize;
                }
            }
        }

        .error {
            color: var(--color-error);
        }
    }
}