@use '../../../../styles/variables' as v;

.dialog-container {
    border-radius: v.$padding-half;
    background-color: var(--color-white);
    overflow: hidden;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: v.$padding-normal v.$padding-xl;
    color: var(--color-white);
    background-color: var(--color-primary);

    .close {
        transform: rotate(45deg) scale(1.5);
    }
}

.dialog-footer {
    display: flex;
    justify-content: space-between;
    padding: v.$padding-normal v.$padding-xl;

    .action-btn {}
}

.dialog-content {
    padding: v.$padding-xl;
}

.form-group {
    display: flex;
    flex-wrap: wrap;

    .form-field {
        width: 50%;
        padding-right: v.$padding-xl;
        padding-bottom: v.$padding-xxl;
    }
}
