<section class="dialog-container">
    <header class="dialog-header">
        <div> Add Cow </div>
        <div class="close cursor--pointer" tabindex="0" (click)="cancel()" (keydown.enter)="cancel()"
            (keydown.space)="cancel()">
            +
        </div>
    </header>
    <div class="dialog-content">
        <div class="form-content">
            <form [formGroup]="formGroup" class="form-group">
                <div class="form-field">
                    <div class="field-wrapper">
                        <div class="field">
                            <label for="tagNumber" class="mandatory"> Tag Number </label>
                            <input [formControlName]="tagNumber.key" id="tagNumber" />
                        </div>
                        <div class="error" [class.visibility--hidden]="!hasError(tagNumber.control)">
                            {{ getError(tagNumber) }}
                        </div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-wrapper">
                        <div class="field select">
                            <label for="gender" class="mandatory"> Sex </label>
                            <select [formControlName]="gender.key" id="gender">
                                <option value="">-- Select --</option>
                                @for (gender of GENDERS; track gender.value) {
                                <option [ngValue]="gender.value">
                                    {{gender.text | lowercase}}
                                </option>
                                }
                            </select>
                        </div>
                        <div class="error" [class.visibility--hidden]="!hasError(gender.control)">
                            {{ getError(gender) }}
                        </div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-wrapper">
                        <div class="field">
                            <label for="pen" class="mandatory"> Pen </label>
                            <input [formControlName]="pen.key" id="pen" />
                        </div>
                        <div class="error" [class.visibility--hidden]="!hasError(pen.control)">
                            {{ getError(pen) }}
                        </div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-wrapper">
                        <div class="field select">
                            <label for="status" class="mandatory"> Status </label>
                            <select [formControlName]="status.key" id="status">
                                <option value="">-- Select --</option>
                                @for (status of STATUSES; track status.value) {
                                <option [ngValue]="status.value">
                                    @switch (status.value) {
                                    @case (1) {
                                    Dry Period
                                    }
                                    @case (2) {
                                    In Treatment
                                    }
                                    @default {
                                    {{status.text | lowercase}}
                                    }
                                    }
                                </option>
                                }
                            </select>
                        </div>
                        <div class="error" [class.visibility--hidden]="!hasError(status.control)">
                            {{ getError(status) }}
                        </div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-wrapper">
                        <div class="field">
                            <label for="weight"> Weight </label>
                            <input [formControlName]="weight.key" id="weight" />
                        </div>
                        <div class="error" [class.visibility--hidden]="!hasError(weight.control)">
                            {{ getError(weight) }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="dialog-footer">
        <div></div>
        <div class="action-btn">
            <button class="secondary" (click)="cancel()"> Cancel </button>
            <button class="primary" (click)="save()"> Save </button>
        </div>
    </footer>
</section>