@use '../../../../styles/variables' as v;

.dialog-container {
    --dialog-header-height: 54px;
    position: relative;
    height: 100%;
    background-color: var(--color-white);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding: v.$padding-normal v.$padding-xl;
    color: var(--color-black);
    height: var(--dialog-header-height);

    .close {
        position: absolute;
        left: -80px;
        top: 12px;
        width: 36px;
        height: 36px;
        font-size: 32px;
        font-weight: 500;
        transform: rotate(45deg);
        border: 1px solid var(--color-white);
        border-radius: 50%;
        line-height: 1em;
        color: var(--color-white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;

        &:hover {
            background-color: var(--color-white);
            color: hsl(0, 0%, 35%);
        }
    }
}

.dialog-content {
    overflow: auto;
    max-height: calc(100% - var(--dialog-header-height));
    scrollbar-gutter: stable;
    padding: v.$padding-xl;

    .recent-event-item .title {
        font-weight: 500;
    }
}