@use '@angular/cdk' as cdk;
@use './app/styles/variables' as v;
@use './app/styles/font.scss';
@use './app/styles//color.scss';
@use './app/styles/button.scss';
@use './app/styles/input.scss';
@use './app/styles/display.scss';
@use './app/styles/accordion.scss';

@include cdk.overlay();

html {
    font-family: 'Roboto Flex', 'Roboto', Courier, monospace;
    --color-primary: hsl(271, 76%, 53%);
    --color-primary-ll: hsl(271, 76%, 70%);
    --color-primary-light: hsl(271, 76%, 85%);
    --color-secondary: hsl(33 90% 75%);
    --color-secondary-dark: hsl(33 90% 25%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: #000;
    --color-error: hsl(0, 80%, 35%);
    --color-border-table: hsl(0, 0%, 75%);
}

* {
    box-sizing: border-box;
}

// Add Dialog cdk container css
.add-cow-dialog,
.cow-details-dialog {
    width: 64%;
}